body{
	background-color: #4B0082;
	color: #fff;
	margin-right: 10%;
	margin-left: 10%;
	font-family: verdana;
}

h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
h1{
	text-align: center;
	border: 3px dotted #fff;
	background-color: black;
}
p{
	text-align: center;
	text-indent: 30px;
	font-size: 18px;
}
